	.filter_option, .filter_custom
	{
		background-color: transparent;
		border: none;
		border-bottom: 1px solid black;
		font-family: monospace;
	}
	#firewall, .trace_step, .trace_details
	{
		font-family: monospace;
	}
	.trace_step
	{
		font-size: small;
	}
	.filter_name
	{
		font-style: italic
	}
	#packet_list
	{
		display: inline;
		overflow: none;
	}
	#trace_result
	{
		overflow-y: auto;
		white-space: nowrap;
	}
	#trace_result table td
	{
		vertical-align: top;
		white-space: nowrap;
	}
	
	#packet_list a.hilit
	{
		background-color: yellow;
	}
	
	.hilight1
	{
		background-color: #FFFFB0;
	}
	.hilight2
	{
		background-color: yellow;
	}
	
	.mytooltip
	{
		display: none;
		position: absolute;
		padding: 2px 6px;
		font-size: 10pt;
		border: 1px solid #000000;
		background-color: #FFFFE0;
	}

